
.plan-list-container {
  width: 100%;
}

.plan-item input[type="radio"] {
  display: none;
}

.plan-item .checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #C1C1C1;
  border-radius: 50%;
  margin-right: 10px;
  background-color: white;
}

.plan-item input[type="radio"]:checked + .checkmark::after {
  content: '\2714';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: blue; 
}


.discount-badge.selected {
  background-color: #0d9488; 
  color: white;
}

@media screen and (max-width: 480px) {
 
  .plan-list-container {
    width: 95%; 
    margin-bottom: 20px; 
    margin-left: 3%;
  }
  .switch-container {
    justify-content: center;
    margin-bottom: 10px;
  }
  .plan-name{
    width:5%;
    font-size:1px;
  }
  .plan-item .checkmark {
    width: 20px;
  }
  
}